@import url(https://fonts.googleapis.com/css?family=Aldrich|Raleway&display=swap);

/*---Main Text Standards---*/
body {
  font-family: 'Aldrich', sans-serif;
  background-color:#c2c1be
}

#slides {
  background-color: black;
}