@import url(https://fonts.googleapis.com/css?family=Aldrich|Raleway&display=swap);

/*---Main Text Standards---*/
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Aldrich', sans-serif;
  color: #222;
  background-color:#d5d5d5;
}

/*---Navbar and Carousel---*/
.navbar {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-left: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  transform: translateY(0%);
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 50px #000;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #6d6d6d;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.aboutMe {
  padding-top: 2rem;
}

/*---Main Homepage Stuff---*/
#regular {
  color: white;
}

/*---Icons and Colors---*/
.fa-code {
  color: #7D8CC4;
}
.fa-bold {
  color: #7D8CC4;
}
.fa-css3 {
  color: #7D8CC4;
}
.fa-java {
  color: #7D8CC4;
}
.fa-cuttlefish {
  color: #7D8CC4;
}
.fa-laptop-code {
  color: #FE621D;
}
.fa-vimeo-v {
  color: #FE621D;
}
.fa-goodreads-g {
  color: #FE621D;
}
.fa-linux {
  color: #FE621D;
}
.fa-users {
  color: #000066;
}
.fa-folder-open {
  color: #669999;
}
.fa-project-diagram {
  color: #cc0066;
}
.fa-cuttlefish, .fa-java, .fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.fa-linux, .fa-goodreads-g, .fa-laptop-code, .fa-vimeo-v {
  font-size: 4em;
  margin: 1rem;
}
.fa-users, .fa-folder-open, .fa-project-diagram {
  font-size: 4em;
  margin: 1rem;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-twitter {
  color: #00aced
}
.fa-instagram {
  color: #fb3958;
}
.fa-linkedin {
  color:  #007bb5;
}
.fa-github {
  color: #ff9933;
}
.fa-github:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-linkedin:hover {
  color: black;
}

/*---Footer---*/
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1.5rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
hr.dark {
  border-top: 1px solid #3f3f3f;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
#fixed {
  background-image: url(images/Java\ Background\ 1.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-top: 0px;
  margin-bottom: 8px;
}

#fixed-homepage {
  background-image: url(images/Skyline1.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-top: 0px;
  margin-bottom: 8px;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

#profile {
  padding-top: 3rem;
}